*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../assets/image/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


#board{
    background: linear-gradient(rgb(255, 231, 231), rgb(248, 248, 55));
    width: 90vmin;
    height: 92vmin;
    border: solid 2px black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.1);
    border-radius: 9px;

}
.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 30px;
}


#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}


.btn{
    background-image: url("../assets/image/up.png");
    background-size: 100%;
    background-repeat: no-repeat;

    position: absolute;
    height: 7vh;
    width: 12vw;
    /* background-color: rgb(255, 23, 23); */
    cursor: pointer;
    justify-content:center;
    display: flex;
    top: 80%;
    right: 45%;
    
}

#ArrowUp{
    background-image: url("../assets/image/up1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    top: 74.5%;
}

#ArrowDown{
    background-image: url("../assets/image/up.png");
    background-size: 100%;
    background-repeat: no-repeat;
    top: 89.5%;
}

#ArrowRight{
    background-image: url("../assets/image/right.png");
    background-size: 100%;
    background-repeat: no-repeat;
    top: 82%;
    right: 31%;
}

#ArrowLeft{
    background-image: url("../assets/image/left.png");
    background-size: 100%;
    background-repeat: no-repeat;
    top: 82%;
    left: 29%;
}

#btn{
    opacity: 0%;
}